{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<div>
  <link href="{% static 'css/home.css' %}" rel="stylesheet" />
  <div class="home-container">
    <div class="home-new-page">
      <img
        src="{% static 'img/image20230522132331173-6fci-400h.png' %}"
        alt="IMAGE20230522132331173"
        class="home-image202305221323311"
      />
      <div class="home-steps">
        <h1 class="home-text">Our Approach</h1>
        <div class="home-container1">
          <div class="home-container2">
            <div class="home-step">
              <h1 class="home-text01"><span>1</span></h1>
              <h1 class="home-text03">
                <span></span>
                <span>Concept</span>
              </h1>
              <span class="home-text06">
                <span></span>
                <span></span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
                <br />
                <span></span>
              </span>
            </div>
            <div class="home-step1">
              <h1 class="home-text11"><span>2</span></h1>
              <h1 class="home-text13"><span>Prototype</span></h1>
              <span class="home-text15">
                <span></span>
                <span></span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
                <br />
                <span></span>
              </span>
            </div>
          </div>
          <div class="home-container3">
            <div class="home-step2">
              <h1 class="home-text20"><span>3</span></h1>
              <h1 class="home-text22">
                <span>P</span>
                <span>roduction</span>
              </h1>
              <span class="home-text25">
                <span></span>
                <span></span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
                <br />
                <span></span>
              </span>
            </div>
            <div class="home-step3">
              <h1 class="home-text30"><span>4</span></h1>
              <h1 class="home-text32"><span>Shipping</span></h1>
              <span class="home-text34">
                <span></span>
                <span></span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
                <br />
                <span></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="home-banner">
        <h2 class="home-text39">
          <span>
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </span>
            <span></span>
          </span>
          <br />
          <span>Sed non volutpat turpis, ut tincidunt lectus.</span>
        </h2>
        <button class="home-button button">Learn More</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>